[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
flask = "*"
flask-cors = "*"
ufma-scrapper = "*"
gunicorn = "*"
werkzeug = "==0.16.1"
flask-restful = "==0.3.7"
flask-restplus = "==0.13.0"
jinja2 = "==2.10.3"
markupsafe = "==1.1.1"
